<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startx.tebakgambar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".level1.Soal1Activity"
            android:label="@string/title_activity_soal1" >
        </activity>
        <activity
            android:name=".level1.Soal2Activity"
            android:label="@string/title_activity_soal2" >
        </activity>
        <activity
            android:name=".level1.Soal3Activity"
            android:label="@string/title_activity_soal3" >
        </activity>
        <activity
            android:name=".EndActivity"
            android:label="@string/title_activity_end" >
        </activity>
        <activity
            android:name=".level1.Soal4Activity"
            android:label="@string/title_activity_soal4" >
        </activity>
        <activity
            android:name=".LevelMenu"
            android:label="@string/title_activity_level_menu" >
        </activity>
        <activity
            android:name=".level1.Soal5Activity"
            android:label="@string/title_activity_soal5" >
        </activity>
        <activity
            android:name=".level1.Soal6Activity"
            android:label="@string/title_activity_soal6" >
        </activity>
        <activity
            android:name=".level1.Soal7Activity"
            android:label="@string/title_activity_soal7" >
        </activity>
        <activity
            android:name=".level1.Soal8Activity"
            android:label="@string/title_activity_soal8" >
        </activity>
        <activity
            android:name=".level1.Soal9Activity"
            android:label="@string/title_activity_soal9" >
        </activity>
        <activity
            android:name=".level1.Soal4Activity"
            android:label="@string/title_activity_soal4" >
        </activity>
        <activity
            android:name=".level1.Soal10Activity"
            android:label="@string/title_activity_soal10" >
        </activity>
        <activity
            android:name=".SaranActivity"
            android:label="@string/title_activity_saran" >
        </activity>
        <activity
            android:name=".CaraMainActivity"
            android:label="@string/title_activity_cara_main" >
        </activity>
    </application>

</manifest>
